@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* common css start */
  ::-webkit-scrollbar {
    display: none;
  }
  input[type="date"]:required:invalid::-webkit-datetime-edit {
    color: transparent;
  }
  input[type="date"]:focus::-webkit-datetime-edit {
    color: black !important;
  }
  .shadow {
    @apply shadow-[rgba(33,35,38,0.1)_0px_10px_10px_-10px];
  }
  .shadow2 {
    @apply shadow-[rgba(99,99,99,0.2)_0px_2px_8px_0px];
  }
  /* common css end */
  /* signup lodin page start */
  .loader {
    @apply w-[100%] h-[100%] block relative;
  }
  .loader::after,
  .loader::before {
    @apply content-[''] box-border w-full h-full absolute animate-animloader rounded-[50%] border-[5px] border-solid border-white left-[0%] top-[0%] ;
  }
  .loader::after {
    animation-delay: .5s;
  }
  
  .sign-InUp {
    @apply w-full text-primarytxt md:text-clrthird bg-bgsecondery md:bg-primarytxt outline-none border-none py-4 rounded-[10px] pl-10 placeholder:text-clrthird font-ubuntu text-xs  font-medium tracking-[1.5px] md:border-[1px] md:border-clrthird md:border-solid;
  }
  .boxIcon {
    @apply absolute top-[25%] left-[10px] text-clrthird text-[23px];
  }
  .signInwith {
    @apply w-[48px] h-[48px] rounded-full bg-bgsecondery grid place-items-center text-2xl cursor-pointer;
  }
  .link {
    @apply relative text-brand after:content-[''] after:w-0 after:h-[2px] after:bg-brand after:absolute after:left-0 after:bottom-[-3px] after:duration-[.4s] cursor-pointer;
  }
  /* signup lodin page end */

  /* bg animation */
  #stars-container {
    @apply h-[100%] w-[200%] overflow-hidden translate-x-[-50] -translate-y-2/4 absolute top-0 left-0 z-[-1];
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #191f24 100%);
    -webkit-transform: translate(-50, -50%);
    -ms-transform: translate(-50, -50%);
    -o-transform: translate(-50, -50%);
  }
  #stars2 {
    @apply w-0.5 h-0.5 shadow-[0_1368px_1683px_#FFF,1909px_35px_#FFF,874px_509px_#FFF,1313px_207px_#FFF,677px_1346px_#FFF,1707px_1310px_#FFF,1911px_1535px_#FFF,50px_1145px_#FFF,1684px_1379px_#FFF,497px_924px_#FFF,18px_1421px_#FFF,480px_1171px_#FFF,1938px_1194px_#FFF,806px_735px_#FFF,335px_1168px_#FFF,841px_1501px_#FFF,876px_1702px_#FFF,1974px_1810px_#FFF,1555px_1203px_#FFF,995px_786px_#FFF,1288px_604px_#FFF,1550px_1110px_#FFF,1097px_1807px_#FFF,684px_1124px_#FFF,1953px_422px_#FFF,1247px_1664px_#FFF,674px_1723px_#FFF,1934px_1625px_#FFF,542px_388px_#FFF,1478px_830px_#FFF,407px_878px_#FFF,936px_1103px_#FFF,304px_221px_#FFF,1128px_4px_#FFF,804px_563px_#FFF,37px_1452px_#FFF,771px_1328px_#FFF,1873px_1394px_#FFF,1003px_1234px_#FFF,1187px_1480px_#FFF,326px_719px_#FFF,458px_508px_#FFF,508px_1887px_#FFF,1139px_203px_#FFF,1070px_1312px_#FFF,673px_307px_#FFF,537px_446px_#FFF,443px_1427px_#FFF,822px_1701px_#FFF,1854px_1076px_#FFF,1322px_1486px_#FFF,1077px_855px_#FFF,963px_1299px_#FFF,1211px_1654px_#FFF,445px_432px_#FFF,1644px_908px_#FFF,1279px_645px_#FFF,844px_941px_#FFF,863px_317px_#FFF,179px_673px_#FFF,1169px_1557px_#FFF,1760px_1802px_#FFF,32px_777px_#FFF,1960px_531px_#FFF,1989px_957px_#FFF,120px_528px_#FFF,1473px_893px_#FFF,846px_612px_#FFF,1595px_970px_#FFF,246px_852px_#FFF,1614px_646px_#FFF,1572px_1865px_#FFF,776px_1428px_#FFF,726px_460px_#FFF,1078px_1830px_#FFF,522px_348px_#FFF,152px_1024px_#FFF,1065px_70px_#FFF,1457px_1517px_#FFF,938px_1428px_#FFF,198px_1817px_#FFF,1082px_1155px_#FFF,1450px_373px_#FFF,199px_1034px_#FFF,747px_746px_#FFF,1189px_1891px_#FFF,421px_13px_#FFF,1915px_220px_#FFF,365px_1325px_#FFF,414px_1642px_#FFF,1600px_1242px_#FFF,1053px_1384px_#FFF,836px_1788px_#FFF,1312px_964px_#FFF,379px_1427px_#FFF,1483px_633px_#FFF,810px_1711px_#FFF,230px_677px_#FFF,562px_357px_#FFF,254px_168px_#FFF,337px_1609px_#FFF,249px_1813px_#FFF,1950px_296px_#FFF,1842px_1583px_#FFF,1484px_1606px_#FFF,1372px_1267px_#FFF,217px_1060px_#FFF,81px_31px_#FFF,486px_870px_#FFF,1887px_302px_#FFF,662px_296px_#FFF,661px_1271px_#FFF,545px_1838px_#FFF,248px_1128px_#FFF,926px_1879px_#FFF,1009px_149px_#FFF,282px_1456px_#FFF,379px_1744px_#FFF,149px_1926px_#FFF,1323px_489px_#FFF,90px_163px_#FFF,2000px_370px_#FFF,6px_1939px_#FFF,912px_1895px_#FFF,418px_538px_#FFF,947px_1415px_#FFF,1969px_72px_#FFF,476px_1572px_#FFF,99px_1132px_#FFF,34px_1627px_#FFF,639px_234px_#FFF,1383px_1580px_#FFF,610px_261px_#FFF,1421px_367px_#FFF,1207px_234px_#FFF,520px_1820px_#FFF,899px_725px_#FFF,824px_1283px_#FFF,1588px_1977px_#FFF,979px_179px_#FFF,1197px_1283px_#FFF,596px_677px_#FFF,349px_677px_#FFF,848px_296px_#FFF,705px_267px_#FFF,1909px_840px_#FFF,1608px_1355px_#FFF,1852px_47px_#FFF,676px_669px_#FFF,100px_1516px_#FFF,1432px_1913px_#FFF,420px_1102px_#FFF,1746px_1076px_#FFF,137px_185px_#FFF,1731px_1556px_#FFF,1249px_1813px_#FFF,1032px_1629px_#FFF,21px_473px_#FFF,640px_1828px_#FFF,1486px_845px_#FFF,362px_199px_#FFF,1520px_365px_#FFF,998px_1383px_#FFF,1799px_642px_#FFF,1582px_1647px_#FFF,916px_391px_#FFF,842px_1863px_#FFF,321px_774px_#FFF,495px_812px_#FFF,842px_607px_#FFF,625px_1419px_#FFF,65px_1010px_#FFF,1917px_1725px_#FFF,1688px_1686px_#FFF,1257px_1891px_#FFF,65px_1125px_#FFF,1706px_301px_#FFF,196px_860px_#FFF,935px_77px_#FFF,771px_1696px_#FFF,335px_561px_#FFF,1875px_1787px_#FFF,9px_1070px_#FFF,669px_1555px_#FFF,335px_1210px_#FFF,569px_908px_#FFF,1375px_1251px_#FFF,793px_1433px_#FFF,266px_1313px_#FFF,388px_481px_#FFF,695px_1737px_#FFF,188px_802px_#FFF,415px_1830px_#FFF,1599px_940px_#FFF,438px_1894px_#FFF,88px_1951px_#FFF,1082px_747px_#FFF,1942px_1057px_#FFF,883px_899px_#FFF,1041px_1961px_#FFF] animate-[animateStars_30s_ease-in-out_infinite] rounded-[50%] after:content-["_"] after:absolute after:w-0.5 after:h-0.5 after:shadow-[0_1368px_1683px_#FFF,1909px_35px_#FFF,874px_509px_#FFF,1313px_207px_#FFF,677px_1346px_#FFF,1707px_1310px_#FFF,1911px_1535px_#FFF,50px_1145px_#FFF,1684px_1379px_#FFF,497px_924px_#FFF,18px_1421px_#FFF,480px_1171px_#FFF,1938px_1194px_#FFF,806px_735px_#FFF,335px_1168px_#FFF,841px_1501px_#FFF,876px_1702px_#FFF,1974px_1810px_#FFF,1555px_1203px_#FFF,995px_786px_#FFF,1288px_604px_#FFF,1550px_1110px_#FFF,1097px_1807px_#FFF,684px_1124px_#FFF,1953px_422px_#FFF,1247px_1664px_#FFF,674px_1723px_#FFF,1934px_1625px_#FFF,542px_388px_#FFF,1478px_830px_#FFF,407px_878px_#FFF,936px_1103px_#FFF,304px_221px_#FFF,1128px_4px_#FFF,804px_563px_#FFF,37px_1452px_#FFF,771px_1328px_#FFF,1873px_1394px_#FFF,1003px_1234px_#FFF,1187px_1480px_#FFF,326px_719px_#FFF,458px_508px_#FFF,508px_1887px_#FFF,1139px_203px_#FFF,1070px_1312px_#FFF,673px_307px_#FFF,537px_446px_#FFF,443px_1427px_#FFF,822px_1701px_#FFF,1854px_1076px_#FFF,1322px_1486px_#FFF,1077px_855px_#FFF,963px_1299px_#FFF,1211px_1654px_#FFF,445px_432px_#FFF,1644px_908px_#FFF,1279px_645px_#FFF,844px_941px_#FFF,863px_317px_#FFF,179px_673px_#FFF,1169px_1557px_#FFF,1760px_1802px_#FFF,32px_777px_#FFF,1960px_531px_#FFF,1989px_957px_#FFF,120px_528px_#FFF,1473px_893px_#FFF,846px_612px_#FFF,1595px_970px_#FFF,246px_852px_#FFF,1614px_646px_#FFF,1572px_1865px_#FFF,776px_1428px_#FFF,726px_460px_#FFF,1078px_1830px_#FFF,522px_348px_#FFF,152px_1024px_#FFF,1065px_70px_#FFF,1457px_1517px_#FFF,938px_1428px_#FFF,198px_1817px_#FFF,1082px_1155px_#FFF,1450px_373px_#FFF,199px_1034px_#FFF,747px_746px_#FFF,1189px_1891px_#FFF,421px_13px_#FFF,1915px_220px_#FFF,365px_1325px_#FFF,414px_1642px_#FFF,1600px_1242px_#FFF,1053px_1384px_#FFF,836px_1788px_#FFF,1312px_964px_#FFF,379px_1427px_#FFF,1483px_633px_#FFF,810px_1711px_#FFF,230px_677px_#FFF,562px_357px_#FFF,254px_168px_#FFF,337px_1609px_#FFF,249px_1813px_#FFF,1950px_296px_#FFF,1842px_1583px_#FFF,1484px_1606px_#FFF,1372px_1267px_#FFF,217px_1060px_#FFF,81px_31px_#FFF,486px_870px_#FFF,1887px_302px_#FFF,662px_296px_#FFF,661px_1271px_#FFF,545px_1838px_#FFF,248px_1128px_#FFF,926px_1879px_#FFF,1009px_149px_#FFF,282px_1456px_#FFF,379px_1744px_#FFF,149px_1926px_#FFF,1323px_489px_#FFF,90px_163px_#FFF,2000px_370px_#FFF,6px_1939px_#FFF,912px_1895px_#FFF,418px_538px_#FFF,947px_1415px_#FFF,1969px_72px_#FFF,476px_1572px_#FFF,99px_1132px_#FFF,34px_1627px_#FFF,639px_234px_#FFF,1383px_1580px_#FFF,610px_261px_#FFF,1421px_367px_#FFF,1207px_234px_#FFF,520px_1820px_#FFF,899px_725px_#FFF,824px_1283px_#FFF,1588px_1977px_#FFF,979px_179px_#FFF,1197px_1283px_#FFF,596px_677px_#FFF,349px_677px_#FFF,848px_296px_#FFF,705px_267px_#FFF,1909px_840px_#FFF,1608px_1355px_#FFF,1852px_47px_#FFF,676px_669px_#FFF,100px_1516px_#FFF,1432px_1913px_#FFF,420px_1102px_#FFF,1746px_1076px_#FFF,137px_185px_#FFF,1731px_1556px_#FFF,1249px_1813px_#FFF,1032px_1629px_#FFF,21px_473px_#FFF,640px_1828px_#FFF,1486px_845px_#FFF,362px_199px_#FFF,1520px_365px_#FFF,998px_1383px_#FFF,1799px_642px_#FFF,1582px_1647px_#FFF,916px_391px_#FFF,842px_1863px_#FFF,321px_774px_#FFF,495px_812px_#FFF,842px_607px_#FFF,625px_1419px_#FFF,65px_1010px_#FFF,1917px_1725px_#FFF,1688px_1686px_#FFF,1257px_1891px_#FFF,65px_1125px_#FFF,1706px_301px_#FFF,196px_860px_#FFF,935px_77px_#FFF,771px_1696px_#FFF,335px_561px_#FFF,1875px_1787px_#FFF,9px_1070px_#FFF,669px_1555px_#FFF,335px_1210px_#FFF,569px_908px_#FFF,1375px_1251px_#FFF,793px_1433px_#FFF,266px_1313px_#FFF,388px_481px_#FFF,695px_1737px_#FFF,188px_802px_#FFF,415px_1830px_#FFF,1599px_940px_#FFF,438px_1894px_#FFF,88px_1951px_#FFF,1082px_747px_#FFF,1942px_1057px_#FFF,883px_899px_#FFF,1041px_1961px_#FFF] after:m-auto after:rounded-[50%] after:inset-0;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  #stars2::after {
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  #stars3 {
    @apply w-[3px] h-[3px] shadow-[0_209px_1866px_#FFF,1707px_1473px_#FFF,1094px_834px_#FFF,597px_30px_#FFF,1591px_1377px_#FFF,1432px_1849px_#FFF,1421px_1527px_#FFF,1546px_1636px_#FFF,1685px_1254px_#FFF,820px_1444px_#FFF,1953px_803px_#FFF,1969px_1796px_#FFF,1603px_1432px_#FFF,1784px_495px_#FFF,270px_493px_#FFF,1422px_813px_#FFF,81px_1974px_#FFF,405px_108px_#FFF,1549px_341px_#FFF,580px_1506px_#FFF,1353px_418px_#FFF,152px_1075px_#FFF,1831px_691px_#FFF,1117px_1586px_#FFF,787px_597px_#FFF,184px_704px_#FFF,1905px_552px_#FFF,1635px_1523px_#FFF,854px_152px_#FFF,218px_1626px_#FFF,1800px_318px_#FFF,1890px_1873px_#FFF,10px_1783px_#FFF,935px_1496px_#FFF,1722px_236px_#FFF,340px_546px_#FFF,682px_1416px_#FFF,87px_1219px_#FFF,1722px_317px_#FFF,1425px_1901px_#FFF,1425px_853px_#FFF,1558px_1554px_#FFF,659px_561px_#FFF,1324px_971px_#FFF,763px_1678px_#FFF,1764px_1791px_#FFF,33px_937px_#FFF,153px_1482px_#FFF,693px_1320px_#FFF,223px_74px_#FFF,1606px_1002px_#FFF,103px_775px_#FFF,1141px_1017px_#FFF,1140px_1273px_#FFF,697px_1503px_#FFF,607px_601px_#FFF,651px_1951px_#FFF,1800px_950px_#FFF,770px_1461px_#FFF,1381px_1403px_#FFF,596px_1925px_#FFF,1811px_1576px_#FFF,1248px_871px_#FFF,758px_1248px_#FFF,480px_1067px_#FFF,721px_82px_#FFF,747px_667px_#FFF,171px_389px_#FFF,209px_236px_#FFF,147px_1175px_#FFF,1520px_22px_#FFF,191px_565px_#FFF,1757px_1578px_#FFF,533px_240px_#FFF,1999px_1142px_#FFF,1561px_692px_#FFF,1791px_1899px_#FFF,837px_398px_#FFF,1996px_650px_#FFF,1821px_1505px_#FFF,368px_1656px_#FFF,756px_839px_#FFF,427px_266px_#FFF,1146px_861px_#FFF,394px_1938px_#FFF,41px_1191px_#FFF,112px_443px_#FFF,484px_1106px_#FFF,1628px_1623px_#FFF,799px_807px_#FFF,1507px_1822px_#FFF,1589px_303px_#FFF,216px_1459px_#FFF,1319px_1379px_#FFF] animate-[animateStars_31.5s_ease-in-out_infinite] rounded-[50%] after:content-["_"] after:absolute after:w-[3px] after:h-[3px] after:shadow-[0_209px_1866px_#FFF,1707px_1473px_#FFF,1094px_834px_#FFF,597px_30px_#FFF,1591px_1377px_#FFF,1432px_1849px_#FFF,1421px_1527px_#FFF,1546px_1636px_#FFF,1685px_1254px_#FFF,820px_1444px_#FFF,1953px_803px_#FFF,1969px_1796px_#FFF,1603px_1432px_#FFF,1784px_495px_#FFF,270px_493px_#FFF,1422px_813px_#FFF,81px_1974px_#FFF,405px_108px_#FFF,1549px_341px_#FFF,580px_1506px_#FFF,1353px_418px_#FFF,152px_1075px_#FFF,1831px_691px_#FFF,1117px_1586px_#FFF,787px_597px_#FFF,184px_704px_#FFF,1905px_552px_#FFF,1635px_1523px_#FFF,854px_152px_#FFF,218px_1626px_#FFF,1800px_318px_#FFF,1890px_1873px_#FFF,10px_1783px_#FFF,935px_1496px_#FFF,1722px_236px_#FFF,340px_546px_#FFF,682px_1416px_#FFF,87px_1219px_#FFF,1722px_317px_#FFF,1425px_1901px_#FFF,1425px_853px_#FFF,1558px_1554px_#FFF,659px_561px_#FFF,1324px_971px_#FFF,763px_1678px_#FFF,1764px_1791px_#FFF,33px_937px_#FFF,153px_1482px_#FFF,693px_1320px_#FFF,223px_74px_#FFF,1606px_1002px_#FFF,103px_775px_#FFF,1141px_1017px_#FFF,758px_1827px_#FFF,1032px_193px_#FFF,19px_1110px_#FFF,71px_1071px_#FFF,1206px_1089px_#FFF,1286px_1472px_#FFF,1140px_1273px_#FFF,697px_1503px_#FFF,607px_601px_#FFF,651px_1951px_#FFF,1800px_950px_#FFF,770px_1461px_#FFF,1381px_1403px_#FFF,596px_1925px_#FFF,1811px_1576px_#FFF,1248px_871px_#FFF,758px_1248px_#FFF,480px_1067px_#FFF,721px_82px_#FFF,747px_667px_#FFF,171px_389px_#FFF,209px_236px_#FFF,147px_1175px_#FFF,1520px_22px_#FFF,191px_565px_#FFF,1757px_1578px_#FFF,533px_240px_#FFF,1999px_1142px_#FFF,1561px_692px_#FFF,1791px_1899px_#FFF,837px_398px_#FFF,1996px_650px_#FFF,1821px_1505px_#FFF,368px_1656px_#FFF,756px_839px_#FFF,427px_266px_#FFF,1146px_861px_#FFF,394px_1938px_#FFF,41px_1191px_#FFF,112px_443px_#FFF,484px_1106px_#FFF,1628px_1623px_#FFF,799px_807px_#FFF,1507px_1822px_#FFF,1589px_303px_#FFF,216px_1459px_#FFF,1319px_1379px_#FFF] after:m-auto after:rounded-[50%] after:inset-0;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  #stars3:after {
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
  @keyframes animateStars {
    0% {
      -webkit-transform: rotate3d(-1, 1, 0, 0deg);
      -ms-transform: rotate3d(-1, 1, 0, 0deg);
      -o-transform: rotate3d(-1, 1, 0, 0deg);
      transform: rotate3d(-1, 1, 0, 0deg);
    }
    25% {
      -webkit-transform: rotate3d(-1, 1, 0, 30deg);
      -ms-transform: rotate3d(-1, 1, 0, 30deg);
      -o-transform: rotate3d(-1, 1, 0, 30deg);
      transform: rotate3d(-1, 1, 0, 30deg);
    }
    50% {
      -webkit-transform: rotate3d(-1, 1, 0, 0deg);
      -ms-transform: rotate3d(-1, 1, 0, 0deg);
      -o-transform: rotate3d(-1, 1, 0, 0deg);
      transform: rotate3d(-1, 1, 0, 0deg);
    }
    75% {
      -webkit-transform: rotate3d(-1, 1, 0, -30deg);
      -ms-transform: rotate3d(-1, 1, 0, -30deg);
      -o-transform: rotate3d(-1, 1, 0, -30deg);
      transform: rotate3d(-1, 1, 0, -30deg);
    }
    100% {
      -webkit-transform: rotate3d(-1, 1, 0, 0deg);
      -ms-transform: rotate3d(-1, 1, 0, 0deg);
      -o-transform: rotate3d(-1, 1, 0, 0deg);
      transform: rotate3d(-1, 1, 0, 0deg);
    }
  }

  /* home page start */
  .topIcon {
    @apply w-[45px] h-[45px] bg-clrthird/10 grid place-items-center rounded-full text-xl cursor-pointer hover:text-primarytxt duration-[.4s] overflow-hidden;
  }
  .hoverEfct {
    @apply after:absolute after:top-0 after:left-0 after:w-[0] after:h-[0] after:bg-brand after:z-[-1] after:duration-[.4s] after:rounded-full hover:after:w-full hover:after:h-full;
  }
  /* home page end */
  /* Navbtm start */
  .NavbtmIcon {
    @apply w-[45px] h-[45px] bg-clrthird/10 grid place-items-center rounded-full text-xl cursor-pointer duration-[.4s];
  }
  /* Navbtm end */
  /* Menu start */
  .menuBox {
    @apply hover:bg-clrthird/5 rounded-md bg-[#fff] duration-[.4s] p-2 cursor-pointer flex items-center;
  }
  .menutxt {
    @apply font-ubuntu text-clrthird;
  }
  /* Menu end */

  /* Friends start */
  .frndBtn {
    @apply py-2 px-5 rounded-md bg-clrthird/10 font-ubuntu flex items-center gap-x-2;
  }
  /* Friends end */

  /* Profile start */
  .optnBtn {
    @apply font-ubuntu text-clrthird font-medium border-b-2 border-b-transparent border-solid;
  }
  .postOption {
    @apply flex items-center gap-2 md:w-[30%] py-1 pl-3 font-ubuntu hover:bg-clrthird/10 rounded-md;
  }
  .postFilter {
    @apply flex items-center gap-2 bg-clrthird/10 py-1 px-5 rounded-md font-ubuntu capitalize font-medium text-clrthird;
  }
  /* Profile end */
}
